numpy # matrix manipulation
matplotlib # plot
nltk # for stopwords
transformers==4.24.0 # for CLIPTokenizer
stanza # for stanford pos tagger
torch # pytorch
opencv-python # image processing
daam==0.0.12 # text-image heatmap
pycocotools # COCO data format
tqdm # progress bar
ipywidgets # for interactive visualizer
# git+https://github.com/RishiDarkDevil/daam-i2i.git # for image-image heatmap